header .navbar {
	border-radius: 0;
	border: transparent;
}
header .navbar-header {
	background-image: url(../img/chelsea_logo.png);
	background-repeat: no-repeat;
	background-size: contain;
}

header .navbar-header a {
	display: block;
	opacity:0;
}

header .navbar-toggle {
	border: transparent;
	border-radius: 0;
}
header .navbar-default {
	background-color: #0000CC;
}

header .navbar-default .navbar-nav > li > a {
	color: #CCFFFF;
}
header .navbar-default .navbar-nav > li > a:hover,
header .navbar-default .container-fluid .navbar-toggle:hover,
header .navbar-default .container-fluid .navbar-toggle:focus {
	color: #FFFFFF;
	background-color: #3333FF;
	box-shadow: 0 2px 2px rgba(0,0,0,0.5); 
}

header .navbar-default .container-fluid .navbar-toggle .icon-bar {
	background-color: #CCFFFF;
}

