* {
	margin: 0;
	padding: 0;
}
/* Header*/
header {
	width: 100%;
	height: 40px;
	background-color: #BDBDBD;
	position: fixed;
	z-index: 10;
}
header ul {
	list-style: none;
	margin: 0 auto;
	width: 70%;
}
header li {
	height: 33px;
	display: inline-block;
	width: 32%;
}
header a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	background-color: #848484;
	text-align: center;
	border: 1px solid;
	font-size: 24px;
	text-alighn: bottom;
	padding-top: 5px;
}
header a:hover {
	background-color: #585858;
	color: #F7FE2E;
	font-weight: 600;
	border: none;
	border-bottom: 5px solid #F4FA58;
	cursor: pointer;
}
/* Main Container */
.clearfix {
	width: 100%;
	clear: both;
}
.main {
	width: 100%;
	max-width: 1400px;
	min-width: 800px;
	margin: 0 auto;
}
.main-image {
	position; absolute;
	width: 100%;
	min-height: 700px;
	background: url("../img/img_1_main.jpg");
	background-size: cover;
	opacity: 0.6;
}
.main-row-1 {
	position: relative;
	bottom: 600px;
	max-width: 1400px;
	min-width: 800px;
	max-height: 788px;
	min-height: 600px;
	font-family: Tahoma;
	padding: 20px;
	margin-bottom: 60px;
}
.row-1-col-1 {
	position: relative;
	width: 40%;
	float: left;
	font-weight: 600;
	color: #0000FF;
}
.row-1-col-2 {
	position: relative;
	width: 40%;
	float: right;
	font-style: italic;
	color: #0000FF;
}
.main-row {
	border: 2px solid #CEECF5;
	position: relative;
	bottom: 600px;
}
.main-row-photo {
	float: left;
	margin: 20px;
	height: 604px;
	width: 481px;
	border: 2px solid;
	background: url("../img/img_2.jpg");
	background-size: cover;
}
.main-row-info {
	float: right;
	height: 604px;
	width: 600px;
	padding: 20px;
	color: #5882FA;
}
 
/* main-row-3 */
.main-row-3 {
	position: relative;
	bottom: 550px;
	margin-top: 10px;
	width: 100%;
	height: 600px;
	color: #0000FF;
}
#menu {
	margin: 0;
	padding: 0 5px;
	list-style: none;
	height: 32px;
	border-bottom: 2px solid #CEECF5;
	background: #FFFFFF;
	font-family: Arial;
}
#menu li {
	width: 200px;
	float: left;
	display: inline;
	margin: 0 2px;
	padding: 5px 25px;
	cursor: pointer;
	color: #5882FA;
	background-color: #CEECF5;
	border: 2px solid #CEECF5;
	font-weight: 600;
	text-align: center;
}
#menu li:hover {
	color: #08298A;
	border: 2px solid #5882FA;
	border-bottom: none;
}
.tab_active {
	border-bottom: 2px solid #FFFFFF !important;
	color: #000000;
	background-color: #FFFFFF !important;
}
#container {
	height: 550px;
	clear: both;
	border: 2px solid #CEECF5;
	border-width: 0px 2px 2px 2px;
	padding: 15px;
}
#container .tab_content {
	display: none;
}
.visible {
	display: block !important;
}

/* footer */
footer {
	margin-top: 15px;
	width: 100%;
	height: 100px;
	background-color: #E0F8F7;

}
footer div {
	float: left;
	width: 40px;
	height: 40px;
	margin-top: 30px;
	margin-left: 17.5%;
	border-radius: 10px;

}
footer a {
	display: block;
	width: 100%;
	height: 100%; 
}
.twitter {
	background: url("../img/tw_1.jpg");
}
.twitter:hover {
	background: url("../img/tw_2.jpg");
}
.facebook {
	background: url("../img/fb_1.jpg");
}
.facebook:hover {
	background: url("../img/fb_2.jpg");
}
.google {
	background: url("../img/g+_1.jpg");
}
.google:hover {
	background: url("../img/g+_2.jpg");
}
.skype {
	background: url("../img/sk_1.jpg");
}
.skype:hover {
	background: url("../img/sk_2.jpg");
}